h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  display: grid;
  place-content: center;

}

ul {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(10, 0.5cm);
  grid-template-rows: repeat(10, 0.5cm);
  grid-gap: 5px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 1px solid;
}